<form class="form-signin" action="/login" method="post" role="form">
	<h2 class="form-signin-heading">Login</h2>
	<input id="email" class="form-control" type="text" name="email" placeholder="email" />
	<input id="password" class="form-control" type="password" name="password" placeholder="password" />
	<button class="btn btn-primary btn-block" type="submit" value="1">Login</button>
	<div>or did you <a href="/reset_password">forgot your password</a>? or need to <a href="/registration">register</a>?</div>
</form>