form {
	width:350px;
	margin:0 auto;
}

form .form-control {
	position:relative;
	font-size:16px;
	height:auto;
}

form .form-control:focus {
	z-index:50;
}

form .btn {
	margin-bottom:10px;
}

form.form-signin #email {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	margin-bottom:-1px;
}

form.form-signin #password {
	margin-bottom:10px;
	border-top-left-radius:0;
	border-top-right-radius:0;
}

form.form-register #first-name {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	margin-bottom:-1px;	
}

form.form-register #last-name {
	border-top-left-radius:0;
	border-top-right-radius:0;
	margin-bottom:10px;
}

form.form-register #email {
	margin-bottom:10px;
}

form.form-register #password {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	margin-bottom:-1px;
}

form.form-register #confirm-password {
	border-top-left-radius:0;
	border-top-right-radius:0;
	margin-bottom:10px;
}

form.form-reset-password-request #email {
	margin-bottom:10px;
}

form.form-reset-password #password {
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	margin-bottom:-1px;
}

form.form-reset-password #confirm-password {
	border-top-left-radius:0;
	border-top-right-radius:0;
	margin-bottom:10px;
}

/*************************
*	Drop down menu Updates * 
*************************/
.dropdown-menu li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: nowrap;
}
.dropdown-menu  li > a:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}
.dropdown-menu  li > a:hover {
	background-color: #e8e8e8;
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
/*** End of Dropdown menu udpates	***/
