<form class="form-register" action="/user/create" method="post" role="form">
	<h2 class="form-signin-heading">Register</h2>
	<input id="first-name" class="form-control" type="text" name="first_name" placeholder="first name" />
	<input id="last-name" class="form-control" type="text" name="last_name" placeholder="last name" />
	<input id="email" class="form-control" type="text" name="email" placeholder="email" /> 
	<input id="password" class="form-control" type="password" name="password" placeholder="password" />
	<input id="confirm-password" class="form-control" type="password" name="confirm_password" placeholder="confirm password" />
	<button class="btn btn-primary btn-block" type="submit" value="1">Register</button>
	<div>or did you just <a href="/reset_password">forgot your password</a>? Or do you just need to <a href="/login">log in</a>?</div>
</form>