<form class="form-reset-password-request" action="/reset_password" method="post" role="form">
	<h2 class="form-signin-heading">Password Reset Resquest</h2>
	<input class="form-control" type="text" name="email" id="email" placeholder="Please enter your email adress" />
	<button class="btn btn-primary btn-block" type="submit">Reset Password</button>
	<div>or do you just need to <a href="/login">log in</a>?</div>
</form>