<form class="form-reset-password" action="/reset_password/<%= user.id %>" method="post">
	<h2 class="form-signin-heading">Password Reset</h2>
	<input type="password" class="form-control" name="password" id="password" placeholder="New Password" />
	<input type="password" class="form-control" name="confirm_password" id="confirm-password" placeholder="New Password Again" />
	<button class="btn btn-primary btn-block" type="submit">Reset Password</button>
</form>